.footer {
    margin-top: 134px;
    margin-bottom: 54px;
}

.social-networks {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
}

.social-networks__item:not(:last-child) {
    margin-right: 35px;
}

.copyright {
    display: flex;
    margin-top: 26px;
    text-align: center;
    justify-content: center;
}
