.hero {
    max-width: 860px;
    padding: 0;
    margin: 0 auto;

    &-content{
        display: flex;
        margin-top: 140px;
        margin-bottom: 71px;
        padding-top: 18px;
        width: 856px;
        justify-content: left;
        flex-direction: column;
        background-image: url('../img/Face_photo.jpg');
        background-repeat: no-repeat;
        background-position: right top;
    }

    &__greetings {
        margin-bottom: 40px;
        
        width: 506px;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #21243D;
    }

    &__descr {
        margin-bottom: 38px;
        max-width: 497px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
    }

    &__download-btn {
        padding: 10px 20px 10px;
        border: 0;
        max-width: 210px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 29px;
        color: #FFFFFF;
        background: #FF6464;
        border-radius: 2px;
        cursor: pointer;
    }
}