@use './header.scss';
@use './hero.scss';
@use './posts.scss';
@use './featured_works.scss';
@use './footer.scss';

* { 
    box-sizing: border-box;
}

table {
    max-width: 1152px;
}

body {
    margin: 0;
    font-family: "Heebo", sans-serif;
}

footer {
    max-width: 860px;
    padding: 0;
    margin: 0 auto;
}

h1, h2,
h3, h4, 
p, span {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}
